<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.oulu.unitour">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".helpers.UniTourApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.WelcomeActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.ExploreMapActivity"
            android:label="Campus Map" />
        <activity android:name=".activities.ExploreActivity" />
        <activity
            android:name=".activities.QuestMapActivity"
            android:label="Quests" />
        <activity android:name=".activities.QuestActivity" />
        <activity android:name=".activities.QrScannerActivity" />
        <activity android:name=".activities.SpecificQuestionGameActivity" />
        <activity android:name=".activities.RightAnswerGameActivity" />
        <activity android:name=".activities.TrueFalseGameActivity" />
        <activity android:name=".activities.YoutubeActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.ImageGameActivity" />
        <activity android:name=".activities.InfoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6jKHu61taAsWb-1_ayE8PjNT5Mxb-u8c" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".activities.PuzzleActivity" />
        <activity android:name=".activities.RewardActivity"></activity>
    </application>

</manifest>